//sass-lint:disable-all

.bl-modal {
  height: 0 !important;
  opacity: 0!important;
  overflow: hidden!important;
  position: fixed;
  top: 20px;
  width: 0!important;
  transition: all 0s linear;
}

.bl-modal.bl-visible {
  background: #ffffff;
  color: #222222;
  height: inherit!important;
  left: 50vw;
  max-height: calc(100vh - 40px);
  max-width: calc(100vw - 45px);
  opacity: 1!important;
  overflow: hidden!important;
  width: 450px!important;
  transform: translateX(-50%);
  transition: all 200ms linear;
  z-index:9999;
}

.bl-modal-close {
  background: transparent;
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  z-index: 9999;
}

.bl-modal-close:after {
  content: "X";
  display: block;
  height: 24px;
  line-height: 24px;
  width: 20px;
  text-align: center;
  font-weight: 600;
}

.bl-modal-content {
  max-height: calc(100vh - 40px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px 20px 50px 20px;
}

.bl-modal:after {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}

.bl-modal-background.bl-visible {
  background: rgba(0,0,0,.7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9995;
}
