!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/handbook_head"
    = stylesheet_link_tag "handbook"
    = stylesheet_link_tag "navigation-helpers"
  %body{data: {spy: "scroll", target: ".qnav"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    = partial "includes/highlight_tooltip_body"
    .wrapper.sidebar-layout-wrapper.clearfix
      %aside.tocs-sidebar
        = partial "includes/layout/codeowners.html.haml"
        = partial "includes/layout/edit_page.html.haml"
      .container.md-page{ class: (current_page.data.page_class if current_page.data.page_class) }
        %ol.breadcrumb
          %li.meta-signage-header You are here:
          = breadcrumbs(current_page)
        = partial "includes/layout/handbook_search.html.haml"
        .hidden-md.hidden-lg
          = partial "includes/layout/codeowners.html.haml"
        = yield
    = partial "includes/layout/footer"
    = javascript_include_tag "generate-navigation-helpers.js", "data-cookieconsent": "ignore"
