.content-container.try-gitlab-ee.js-try-gitlab-ee.text-center
  .container
    %h1.page-headline.cta
      Try GitLab Premium risk-free for 30 days.
    %h4.subheader.cta
      No credit card required. Have questions?
      = link_to "Contact us.", "/sales/", class: "contact-us"
    = link_to "Get Your Free Trial Today", "/free-trial/", class: "btn btn-lg btn-red btn-margin-top"
