<template>
  <p class="disclaimer">
    THIS CALCULATOR IS PROVIDED FOR INFORMATIONAL PURPOSES AND IS INTENDED TO
    BE USED ONLY AS A GUIDE TO HELP YOU ESTIMATE THE POTENTIAL VALUE OF YOUR
    EQUITY. THE INFORMATION PROVIDED IS NOT GUARANTEED AND MAY BE SUBJECT TO
    CHANGE AT ANY TIME WITHOUT NOTICE. THIS IS NOT, AND SHALL NOT BE DEEMED, AN
    OFFER, HAS NO LEGAL EFFECT, AND SHOULD NOT BE RELIED UPON IN ANY WAY. THE
    CALCULATOR DOES NOT ACCOUNT FOR TAXES. AS GITLAB CANNOT PROVIDE ADVICE ON
    THIS MATTER, YOU SHOULD CONSULT WITH A SPECIALIST.
  </p>
</template>
